<!DOCTYPE html>
<html>
<head>
    <title>Success Page</title>
    <style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f2f2f2;
    }

    h1 {
        color: #333;
        text-align: center;
    }

    p {
        color: #666;
        text-align: center;
    }
    </style>
</head>
<body>
    <h1>Success!</h1>
    <p>Congratulations, your request was successful.</p>
    <div style="text-align: center;">
        <button onclick="location.href='/register'">return to register page</button>
    </div>
</body>
</html>